[submodule "server/3rd/lxnet"]
	path = server/3rd/lxnet
	url = https://github.com/Ding8222/lxnet.git
[submodule "server/3rd/protobuf"]
	path = server/3rd/protobuf
	url = https://github.com/Ding8222/protobuf.git
[submodule "server/3rd/cryptopp"]
	path = server/3rd/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "server/3rd/fmtlib"]
	path = server/3rd/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "server/3rd/zlib"]
	path = server/3rd/zlib
	url = https://github.com/madler/zlib.git
