[submodule "server/3rd/lxnet"]
	path = server/3rd/lxnet
	url = https://github.com/Ding8222/lxnet.git
[submodule "server/3rd/protobuf"]
	path = server/3rd/protobuf
	url = https://github.com/Ding8222/protobuf.git
